@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@media screen and (max-width: 600px){
    .title-box, .input-task, #text-task
    {
        width: 100%;
        margin-top: 0;
    }
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff9d9;
}

header
{
    padding: 32px;
}
main
{
    padding: 32px;
}
.title{
    font-size: 35px;
    font-family: 'Jua', sans-serif;
}
.input-task{
    display: flex;
    gap: 0px 7px;
    width: 150%;    
}
#text-task{
    border-radius: 5%;
    border: 2px solid black;
    box-shadow: 5px 8px #92793A;
    height: 30px;
    width: 500px;
    background-color: #fdf6f648;
}
.list-of-tasks
{
    margin-top: 30px;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
}
#task-box{
    border-radius: 5px;
    border: 2px solid #000000;
    background-color: #ffffff;
    border-radius: 5px;
    height: 25px;
    width: 400px;
}
.task-desc{
    display: flex;
    margin-top: 20px;
    gap: 0px 20px;
}
#checkbox-button{
    width: 20px;
    height: 20px;
    border: 2px;
}
#button
{
    background-color: #ffffff00;
    border: 0px;
}
footer
{
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: #5b3a92;
    bottom: 0;
}
#footer-info
{
    font: arial;
    font-size: 15px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* https://colors.muz.li/palette/92793A/665d29/fff9d9/5b3a92/402966 */